.appWrap {
  max-width: 700px;
  margin: 44px auto;
  padding: 30px;
  border: 2px solid #696969;
  border-radius: 5px;
}
body {
  background: radial-gradient(
    circle at 10% 20%,
    rgb(151, 245, 252) 0%,
    rgb(93, 158, 248) 90%
  );
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
h1 {
  font-family: Cormorant;
  font-weight: 600;
  font-size: 36px;
  padding: 10px;
  margin: 0;
}
.col-3 {
  font-family: Cormorant;
}
#current-temp {
  font-size: 28px;
  font-weight: 600;
  padding-left: 10px;
}
.unit {
  font-size: 20px;
}
.sky {
  font-style: italic;
  font-weight: 500;
  font-size: 22px;
}
.HM {
  font-size: 18px;
}
.WS {
  font-size: 18px;
}
